<div id="crud">
  <button type="button" onclick="window.location.href='/'" class="btn-crud btn btn-primary">Home</button>
  <button type="button" onclick="window.location.href='/list'" class="btn-crud btn btn-primary">List</button>
  <button type="button" onclick="window.location.href='/create'" class="btn-crud btn btn-primary">Create</button>
</div>