<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="css/about.css" />
</head>
<body>
  <header id="menu">
    <% include ../partials/header.ejs %>
  </header>
  
  <main id="container">  
    <div id="content">
      <p>About Page</p>
    </div>
  </main>

  <footer id="footer">
    <%include ../partials/footer.ejs %>
  </footer>
</body>
</html>