<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head.ejs %>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <header id="menu">
    <% include ../partials/header.ejs %>
  </header>
  
  <main id="container">
    <% include ../partials/crud.ejs %>    
    <div id="content">
      <p>Node.js & MySQL</p>
    </div>
  </main>

  <footer id="footer">
    <%include ../partials/footer.ejs %>
  </footer>
</body>
</html>